body {
  width: 80%;
  margin: 0 auto;
}

#bar-chart svg {
  width: 100%;
  height: 100%;
}

path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.mma {
  stroke: steelblue;
}


.jja {
  stroke: red;
}

.djf {
  stroke: green;
}

.son {
  stroke: yellow;
}

.axis {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.y.axis line {
  stroke: lightgrey;
}

.axis text {
  fill: black;
  font-family: sans-serif;
  stroke: none;
  font-size: 11px;
}
